#walrus-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#dog-showing {
  display: none;
}

.click{
  cursor:pointer;
  color: green;
}

.click:hover {
  text-decoration: underline;
}
